# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swap files
*.swp

# cmake cache files
CMakeCache*
CMakeFiles*
cmake_install*
Makefile*

#all test executables
test/[^.]*

# all build subdirectories
build/*
playback/build/*
playback/audio/build/*
playback/audio/linux/play.h
playback/audio/linux/build/*
playback/audio/windows/build/*
playback/playlist/build/*
decode/build/*
memory/build/*
config/build/*

ipc/get.h
playback/audio/linux/audio.h
