# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swap files
*.swp

# cmake cache files
CMakeCache*

# all build subdirectories
build/*
playback/build/*
playback/play/linux/play.h
playback/play/linux/build/*
playback/play/windows/build/*
playback/playlist/build/*
decode/build/*
memory/build/*
config/build/*
